[submodule "sass-spec"]
	path = sass-spec
	url = https://github.com/sass/sass-spec.git
	ignore = dirty
[submodule "sass"]
	path = sass
	url = https://github.com/sass/sass.git
	ignore = dirty
[submodule "bootstrap-main"]
	path = bootstrap-main
	url = https://github.com/twbs/bootstrap.git
	ignore = dirty
[submodule "embedded-host-node"]
	path = embedded-host-node
	url = https://github.com/sass/embedded-host-node.git
	ignore = dirty
[submodule "dart-sass"]
	path = dart-sass
	url = https://github.com/sass/dart-sass.git
	ignore = dirty
